


@import url(http://fonts.googleapis.com/css?family=Arimo:700);
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);


/* -------------------- UNIVERSAL STYLES */


body {
    background: rgb(249, 183, 103);
    font-family: 'Karla', sans-serif;
    color: #333;
    font-size: .95em;
    line-height: 1.55em;
    letter-spacing: -0.025em;
}

.container {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 85%;
    max-width: 1000px;
}

.hide {
    display: none;
}

.show {
    display: inherit;
    text-align: center;
}


/* -------------------- CONTAINER BACKGROUND BASE COLORS */


.lightgold-bg {
    background: rgb(253, 233, 209);
} 
.gold-bg {
    background: rgb(249, 183, 103);
}
.blue-bg {
    background: rgb(79, 83, 91);
}
.white-bg {
    background: rgb(254, 254, 254);
}


/* -------------------- TEXT STYLES */


h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.75em;
    letter-spacing: .025em;
}

.about h1, .secondary-nav h1 {
    color: rgb(79, 83, 91);
}

.contact h1 {
    color: rgb(254, 254, 254);
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: .025em;
}

.intro h2 {
    color: rgb(254, 254, 254);
    font-size: 1.2em;
}

.work-title h2 {
    color: rgb(254, 254, 254);
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.2em;
}

.bold {
    font-weight: 700;
}

.bold-caps {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1em;
    color: rgb(213, 146, 71);   
}

.intro p, .work-title p, .contact p {
    color: rgba(254, 254, 254, .7);
}

a {
    color: rgb(79, 83, 91);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

a:hover {
    color: rgba(254, 254, 254, 0.8);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
} 

.work a:hover {
    opacity: 0.75;
}

.about a, .download a, .secondary-nav a {
    color: rgb(213, 146, 71);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.1em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.about a:hover, .download a:hover, .secondary-nav a:hover {
    color: rgb(79, 83, 91);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.intro a, .work-title a, .contact a {
    color: rgb(249, 183, 103);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.1em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.intro a:hover, .work-title a:hover, .contact a:hover {
    color: rgba(254, 254, 254, 0.8);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.text-sized-link a {
    font-size: 1em;
}

.caption {
    font-size: .95em;
    text-align: center;
}


/* -------------------- HEADER STYLES */


header {
    background: rgb(249, 183, 103);
    box-shadow: 0 2px 2px rgba(51, 51, 51, 0.35);
    position: fixed;
    display: block;
    z-index: 1;
    height: 70px;
    width: 100%;
}

.header-container {
    margin: 0 auto;
    width: 85%;
    max-width: 1000px;
}

.logo {
    float: left;
    max-height: 40px;
    max-width: 40px;
    margin-top: 15px;
}

.logo img {
    width: 100%; 
}

.nav {
    float: right;
    margin-top: 13px;
}

.nav li {
    display: inline;
    padding-left: 15px;
    font-family: 'Arimo', sans-serif;
    font-size: 1.15em;
}

.nav li:first-child {
    padding-left: 0px;
}

/* -------------------- HOMEPAGE CONTENT STYLES */


.intro, .work-title {
    padding-top: 110px;
}

.cover, .img-gallery {
    width: 100%;
    padding-top: 30px;
}

.video-row {
    padding-top: 30px;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
}

.video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.about ul, .contact ul {
    list-style-position: outside;
    padding: 0px;
}

.about li, .contact li {
    display: inline-block;
    margin-right: 10px;
}


/* -------------------- WORK CONTENT STYLES */


.snav-col-1 {
    display: none;
    }

.snav-col-2, .social-col {
    text-align: center;
}



/* -------------------- RESUME CONTENT STYLES */


.padded-row {
    padding-bottom: 40px;
}


/* -------------------- CLEARFIX */


.group:after {
    content: "";
    display: table;
    clear: both;
}


/* -------------------- MEDIA QUERIES */


/* Larger than mobile */
@media (min-width: 320px) { }


/* Larger than phablet */
@media (min-width: 640px) { 

    /* DISPLAY STYLES*/
    .show {
        display: none;
    }
    
    .hide {
        display: inherit;
    }
    
    /* STYLES */
    
    .intro h2 {
    font-size: 1.4em;
    }
    
    /* SECONDARY NAV COLUMNS */   
    .snav-col-1 {
        display: inherit;
        float:left;
        width: 47.5%;
    }

    .snav-col-2 {
        float: right;
        width: 47.5%;
        text-align: right;
    }
}


/* Larger than tablet */
@media (min-width: 768px) {
    
    /* SECONDARY NAV COLUMNS */   
    .snav-col-1, .contact-col-1 {
        float:left;
        width: 47.5%;
    }

    .snav-col-2, .contact-col-2 {
        float: right;
        width: 47.5%;
    }
    
}


/* Larger than desktop */
@media (min-width: 960px) {
    
    /* COLUMNS */
        /* COLUMNS */   
    .col-1 {
        float:left;
        width: 47.5%;
    }

    .col-2 {
        float: right;
        width: 47.5%;
    }

    
    /* STYLES */
    .intro, .work-title {
        text-align: center;
    }
    
}


/* Larger than Desktop HD */
@media (min-width: 1200px) {
 
    
}










































